In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.set_option('display.notebook_repr_html', True)
#pd.set_option('display.max_columns', 8)
#pd.set_option('display.max_rows', 8)

---------
# Series

In [3]:
s = pd.Series(np.random.rand(10))

In [4]:
s

0    0.142794
1    0.428782
2    0.033484
3    0.315675
4    0.243952
5    0.563204
6    0.840024
7    0.457649
8    0.542307
9    0.992196
dtype: float64

In [5]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
s.values

array([0.14279431, 0.42878235, 0.0334838 , 0.31567533, 0.24395172,
       0.56320411, 0.84002388, 0.45764927, 0.54230735, 0.99219596])

In [7]:
s = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [8]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
k = s.append(pd.Series(5)) 
k

a    1
b    2
c    3
d    4
0    5
dtype: int64

In [10]:
k.shape

(5,)

In [11]:
k.count()

5

In [12]:
k.unique()

array([1, 2, 3, 4, 5])

In [13]:
k.value_counts()

1    1
2    1
3    1
4    1
5    1
dtype: int64

In [14]:
s3 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s3

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
s4 = pd.Series([4,3,2,1], index=['d','c','b','a'])
s4

d    4
c    3
b    2
a    1
dtype: int64

In [16]:
s3 + s4

a    2
b    4
c    6
d    8
dtype: int64

---------
# DataFrames

In [17]:
df = pd.DataFrame(np.array([[10,11], [20,21]]))
df

    0   1
0  10  11
1  20  21

In [18]:
df.index= ['a','b']
df

    0   1
a  10  11
b  20  21

In [19]:
df.columns=['x','y']
df

    x   y
a  10  11
b  20  21

In [20]:
df1 = pd.DataFrame([pd.Series(np.arange(10,15)),
                    pd.Series(np.arange(15,20))])
df1

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

In [21]:
df1.shape

(2, 5)

In [22]:
df.columns = ['c1', 'c2']
df

   c1  c2
a  10  11
b  20  21

In [23]:
df.index

Index(['a', 'b'], dtype='object')

In [24]:
df.values

array([[10, 11],
       [20, 21]])

-----------

In [25]:
s1 = pd.Series(np.arange(1,6,1))
s2 = pd.Series(np.arange(6,11,1))
s3 = pd.Series(np.arange(12,14), index=[1,2])
pd.DataFrame({'c1':s1, 'c2':s2, 'c3': s3})

   c1  c2    c3
0   1   6   NaN
1   2   7  12.0
2   3   8  13.0
3   4   9   NaN
4   5  10   NaN

-----------
# Example

In [26]:
sp500 = pd.read_csv("../data/sp500.csv")
sp500.head()

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.423,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.275,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [27]:
sp500.describe()

,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book
count,500.00000,424.000000,480.000000,499.000000,499.000000,499.000000,499.000000,496.000000,499.000000,496.000000,486.000000
mean,77.36860,2.131439,29.887792,3.564842,301.611301,59.205015,84.668283,35.348525,3.700364,2.782359,4.620514
std,87.59694,1.321017,70.163577,4.049497,6195.727862,62.279565,98.995689,54.839169,6.669021,2.529481,10.578663
min,0.00000,0.040000,2.520000,-10.693000,-51.275000,3.800000,6.100000,0.208500,-0.331300,0.000000,0.000000
25%,38.74500,1.260000,15.570000,1.652000,10.836500,30.985000,42.500000,9.859250,0.867800,1.220000,1.802500
50%,58.35500,1.890000,20.005000,2.841000,19.098000,45.610000,63.560000,17.444500,1.636000,2.005000,3.125000
75%,86.68000,2.820000,26.627500,4.435000,31.386500,66.570000,91.295000,34.653250,3.793500,3.377500,4.730000
max,1197.12000,10.640000,1329.620000,41.727000,138425.453100,787.000000,1378.960000,529.000000,60.657000,17.840000,213.740000

In [28]:
sp500.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Dividend Yield', 'Price/Earnings',
       'Earnings/Share', 'Book Value', '52 week low', '52 week high',
       'Market Cap', 'EBITDA', 'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [29]:
sp500.index = sp500["Symbol"]

In [30]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [31]:
sp500.head()

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
MMM,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
ABT,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
ABBV,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
ACN,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.423,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
ACE,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.275,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...

-----------
# Selecting Columns

In [32]:
sp500[sp500.columns[1:3]]

                       Name                  Sector
Symbol
MMM                  3M Co.             Industrials
ABT     Abbott Laboratories             Health Care
ABBV            AbbVie Inc.             Health Care
ACN               Accenture  Information Technology
ACE             ACE Limited              Financials
...                     ...                     ...
YHOO             Yahoo Inc.  Information Technology
YUM         Yum! Brands Inc  Consumer Discretionary
ZMH         Zimmer Holdings             Health Care
ZION          Zions Bancorp              Financials
ZTS              Zoetis Inc             Health Care

[500 rows x 2 columns]

In [33]:
sp500['Price']

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [34]:
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

----------
# Selecting Rows

In [35]:
sp500[1:2]

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
ABT,ABT,Abbott Laboratories,Health Care,39.6,1.82,25.93,1.529,15.573,32.7,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [36]:
sp500['XYL':'YUM']

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
XYL,XYL,Xylem Inc.,Industrials,38.42,1.29,29.88,1.270,12.127,23.61,39.79,7.061,0.6150,1.80,3.13,http://www.sec.gov/cgi-bin/browse-edgar?action...
YHOO,YHOO,Yahoo Inc.,Information Technology,35.02,NaN,28.94,1.199,12.768,23.82,41.72,35.258,0.8873,7.48,2.72,http://www.sec.gov/cgi-bin/browse-edgar?action...
YUM,YUM,Yum! Brands Inc,Consumer Discretionary,74.77,1.93,29.86,2.507,5.147,64.08,79.70,33.002,2.8640,2.49,14.55,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Locate (df.iloc and df.loc) by index and by row label, respectively

In [37]:
sp500.iloc[45]

Symbol                                                         ADSK
Name                                                   Autodesk Inc
Sector                                       Information Technology
Price                                                          52.0
Dividend Yield                                                  NaN
Price/Earnings                                                 58.6
Earnings/Share                                                0.879
Book Value                                                    10.06
52 week low                                                   33.01
52 week high                                                  58.68
Market Cap                                                    11.83
EBITDA                                                       0.3922
Price/Sales                                                     5.1
Price/Book                                                     5.12
SEC Filings       http://www.sec.gov/cgi-bin/browse-edgar?action...
Name: ADSK, dtype: object

In [38]:
sp500.loc['ADSK']

Symbol                                                         ADSK
Name                                                   Autodesk Inc
Sector                                       Information Technology
Price                                                          52.0
Dividend Yield                                                  NaN
Price/Earnings                                                 58.6
Earnings/Share                                                0.879
Book Value                                                    10.06
52 week low                                                   33.01
52 week high                                                  58.68
Market Cap                                                    11.83
EBITDA                                                       0.3922
Price/Sales                                                     5.1
Price/Book                                                     5.12
SEC Filings       http://www.sec.gov/cgi-bin/browse-edgar?action...
Name: ADSK, dtype: object

In [39]:
sp500.loc[['MMM', 'MSFT']]

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
MMM,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
MSFT,MSFT,Microsoft Corp.,Information Technology,40.12,2.67,15.02,2.669,10.584,30.84,41.66,331.400,32.127,3.97,3.79,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [40]:
sp500.iloc[[0,2]]

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
MMM,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
ABBV,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.57,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [41]:
sp500.iloc[0]

Symbol                                                          MMM
Name                                                         3M Co.
Sector                                                  Industrials
Price                                                        141.14
Dividend Yield                                                 2.12
Price/Earnings                                                20.33
Earnings/Share                                                  6.9
Book Value                                                   26.668
52 week low                                                  107.15
52 week high                                                 143.37
Market Cap                                                   92.345
EBITDA                                                        8.121
Price/Sales                                                    2.95
Price/Book                                                     5.26
SEC Filings       http://www.sec.gov/cgi-bin/browse-edgar?action...
Name: MMM, dtype: object

In [42]:
sp500.loc['A']

Symbol                                                            A
Name                                       Agilent Technologies Inc
Sector                                                  Health Care
Price                                                         56.18
Dividend Yield                                                 0.91
Price/Earnings                                                25.92
Earnings/Share                                                2.143
Book Value                                                   16.928
52 week low                                                   41.85
52 week high                                                  61.22
Market Cap                                                   18.708
EBITDA                                                        1.396
Price/Sales                                                    2.73
Price/Book                                                     3.28
SEC Filings       http://www.sec.gov/cgi-bin/browse-edgar?action...
Name: A, dtype: object

#### Look up a scalar by column and row label or location (df.at[] and df.iat[])

In [43]:
sp500.at['MSFT', 'Price']

40.12

In [44]:
sp500.iat[0,1]

'3M Co.'

------------
# Boolean selection

In [49]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [51]:
sp500[sp500.Price > 100]

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Symbol,,,,,,,,,,,,,,,
MMM,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.1210,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
ACE,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.2750,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...
ACT,ACT,Actavis Inc,Health Care,213.77,NaN,NaN,-3.597,55.188,118.68,230.77,37.291,2.4770,3.93,3.85,http://www.sec.gov/cgi-bin/browse-edgar?action...
APD,APD,Air Products & Chemicals Inc,Materials,118.74,2.45,25.25,4.680,34.723,90.12,124.40,25.206,2.4780,2.45,3.40,http://www.sec.gov/cgi-bin/browse-edgar?action...
ARG,ARG,Airgas Inc,Materials,105.66,1.83,22.44,4.680,24.882,92.86,113.16,7.816,0.9358,1.53,4.22,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WAT,WAT,Waters Corporation,Health Care,100.54,NaN,21.67,4.631,21.460,94.50,115.06,8.524,0.5845,4.47,4.68,http://www.sec.gov/cgi-bin/browse-edgar?action...
WLP,WLP,WellPoint Inc.,Health Care,108.82,1.46,13.98,7.680,86.358,75.02,109.33,30.434,5.0020,0.42,1.24,http://www.sec.gov/cgi-bin/browse-edgar?action...
WHR,WHR,Whirlpool Corp.,Consumer Discretionary,147.26,1.80,15.95,9.145,66.221,107.88,160.01,11.448,2.0080,0.60,2.20,http://www.sec.gov/cgi-bin/browse-edgar?action...
WYNN,WYNN,Wynn Resorts Ltd,Consumer Discretionary,207.86,3.60,28.19,7.392,-0.719,121.84,249.31,20.957,1.7140,3.65,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
ZMH,ZMH,Zimmer Holdings,Health Care,101.84,0.81,22.92,4.441,37.181,74.55,108.33,17.091,1.6890,3.68,2.74,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [54]:
sp500[(sp500.Price < 10) & (sp500.Price > 0)][['Price']]

        Price
Symbol
FTR      5.81
HCBK     9.80
HBAN     9.10
SLM      8.82
WIN      9.38

----------
# Arithetic on dataframes

In [69]:
np.random.seed(123456)
df = pd.DataFrame(np.random.randn(5,4), 
                columns=['A', 'B', 'C', 'D'])
display (df, df * 2)

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

In [81]:
display(df, df - df.iloc[0])

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [82]:
subframe = df[1:4][['B', 'C']]
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [83]:
df - subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

In [85]:
a_col = df['A']
df.sub(a_col, axis=0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

In [86]:
df.sub(a_col, axis=1)

    A   B   C   D   0   1   2   3   4
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN

-----------
# Reindexing

In [97]:
np.random.seed(1)
s = pd.Series(np.random.randn(5))
s

0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
dtype: float64

In [101]:
s.index = ['a','b','c','d','e']
s

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [102]:
s2 = s.reindex(['a','c','e','g'])
s2

a    1.624345
c   -0.528172
e    0.865408
g         NaN
dtype: float64

In [103]:
s2['a'] = 0
s2

a    0.000000
c   -0.528172
e    0.865408
g         NaN
dtype: float64

In [104]:
s['a']

1.6243453636632417

An important use of reindexing is making sure that the indexes of two dataframes match correctly when we want to perform an operation on matching elements of the dataframes

In [105]:
s1 = pd.Series([0,1,2], index=[0,1,2])
s2 = pd.Series([3,2,5], index=['0','1','2'])
display(s1,s2)

0    0
1    1
2    2
dtype: int64

0    3
1    2
2    5
dtype: int64

In [106]:
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [109]:
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    3
2    7
dtype: int64

In [110]:
s

a    1.624345
b   -0.611756
c   -0.528172
d   -1.072969
e    0.865408
dtype: float64

In [111]:
s3 = s.copy()
s3.reindex(['a','f'])

a    1.624345
f         NaN
dtype: float64

In [114]:
s3 = s.copy()
s3.reindex(['a','f'], fill_value=0)

a    1.624345
f    0.000000
dtype: float64

In [115]:
s4 = pd.Series(['red','green', 'blue'], index=[0,3,5])
s4

0      red
3    green
5     blue
dtype: object

In [123]:
s4.reindex(np.arange(0,7), method='ffill')
s4

0      red
3    green
5     blue
dtype: object

In [120]:
s4.reindex(np.arange(0,7), method='bfill')

0      red
1    green
2    green
3    green
4     blue
5     blue
6      NaN
dtype: object